<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manu_.paris_story">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListMonuments"
            android:label="@string/list_monuments" >
        </activity>

        <activity
            android:name=".ListParcours"
            android:label="@string/List_Parcours" >
        </activity>
        <activity
            android:name=".Epoque"
            android:label="@string/About_PS" >
        </activity>
        <activity
            android:name=".Aide"
            android:label="@string/Aide" >
        </activity>
        <activity
            android:name=".Envoyer"
            android:label="@string/Envoyer" >
        </activity>
        <activity
            android:name=".Parametres"
            android:label="@string/Parametre_Appli" >
        </activity>

    </application>

</manifest>